<div class="main-container-form">

  <div class="container-body-form">
    <h2>Formulario de Registro</h2>

    <form [formGroup]="productForm" class="form-product">
      <div class="row-from">
        <div class="form-group input-right">
          <label for="id">ID</label>
          <input formControlName="id" id="id" type="text" class="form-control" [ngClass]="{'error': submitted && productForm.get('id')?.invalid}"/>
          <div *ngIf="submitted && productForm.get('id')?.errors && productForm.get('id')?.invalid" class="error-message">
            <p *ngIf="productForm.get('id')?.hasError('required')">ID no válido!</p>
            <p *ngIf="productForm.get('id')?.hasError('minlength')">ID debe tener mínimo 3 caracteres!</p>
            <p *ngIf="productForm.get('id')?.hasError('maxlength')">ID debe tener máximo 10 caracteres!</p>
            <p *ngIf="productForm.get('id')?.hasError('idTaken')">ID ya se encuentra en uso!</p>
          </div>
        </div>
        <div class="form-group input-left">
          <label for="name">Nombre</label>
          <input formControlName="name" id="name" type="text" class="form-control" [ngClass]="{'error': submitted && productForm.get('name')?.invalid}"/>
          <div *ngIf="submitted && productForm.get('name')?.errors && productForm.get('name')?.invalid" class="error-message">
            <p *ngIf="productForm.get('name')?.hasError('required')">Este campo es requerido!</p>
            <p *ngIf="productForm.get('name')?.hasError('minlength')">Nombre debe tener mínimo 5 caracteres!</p>
            <p *ngIf="productForm.get('name')?.hasError('maxlength')">Nombre debe tener máximo 100 caracteres!</p>
          </div>
        </div>
      </div>
      <div class="row-from">
        <div class="form-group input-right">
          <label for="description">Descripción</label>
          <input formControlName="description" id="description" type="text" class="form-control" [ngClass]="{'error': submitted && productForm.get('description')?.invalid}"/>
          <div *ngIf="submitted && productForm.get('description')?.errors && productForm.get('description')?.invalid" class="error-message">
            <p *ngIf="productForm.get('description')?.hasError('required')">Este campo es requerido!</p>
            <p *ngIf="productForm.get('description')?.hasError('minlength')">Descripción debe tener mínimo 5 caracteres!</p>
            <p *ngIf="productForm.get('description')?.hasError('maxlength')">Descripción debe tener máximo 100 caracteres!</p>
          </div>
        </div>
        <div class="form-group input-left">
          <label for="logo">Logo</label>
          <input formControlName="logo" id="logo" type="text" class="form-control" [ngClass]="{'error': submitted && productForm.get('logo')?.invalid}"/>
          <div *ngIf="submitted && productForm.get('logo')?.errors && productForm.get('logo')?.invalid" class="error-message">
            <p *ngIf="productForm.get('logo')?.hasError('required')">Este campo es requerido!</p>
          </div>
        </div>
      </div>
      <div class="row-from">
        <div class="form-group input-right">
          <label for="date_release">Fecha Liberación</label>
          <input formControlName="date_release" id="date_release" type="date" class="form-control" (ngModelChange)="changeDateRevision($event)" [ngClass]="{'error': submitted && productForm.get('date_release')?.invalid}"/>
          <div *ngIf="submitted && productForm.get('date_release')?.errors && productForm.get('date_release')?.invalid" class="error-message">
            <p *ngIf="productForm.get('date_release')?.hasError('required')">Este campo es requerido!</p>
            <p *ngIf="productForm.get('date_release')?.hasError('minDate')">La fecha ingresada no puede ser menor a la actual</p>
          </div>
        </div>
        <div class="form-group input-left">
          <label for="date_revision">Fecha Revisión</label>
          <input formControlName="date_revision" id="date_revision" type="date" class="form-control" [value]="currentDate" [ngClass]="{'error': submitted && productForm.get('date_revision')?.invalid}"/>
          <div *ngIf="submitted && productForm.get('date_revision')?.errors && productForm.get('date_revision')?.invalid" class="error-message">
            <p *ngIf="productForm.get('date_revision')?.hasError('required')">Este campo es requerido!</p>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-submit" (click)="saveUpdateProduct()">Enviar</button>
      </div>
    </form>
  </div>
</div>
