<div class="main-container">
  <h2>Banco</h2>
  <div class="container-body">
    <div class="contaider-filter">
      <div class="container-input">
        <input type="text" [(ngModel)]="searchProduct" placeholder="Search..." (input)="searchProducts()" class="form-input-search"/>
      </div>
      <div class="container-button">
        <input type="button" value="Agregar" class="btn-add-product" (click)="addProduct()"/>
      </div>
    </div>
    <div class="container-table">
      <table class="table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción <span class="info-icon">i</span></th>
            <th>Fecha de liberación <span class="info-icon">i</span></th>
            <th>Fecha de reestructuración <span class="info-icon">i</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngIf="filterProducts.length === 0">
              <td colspan="5" class="no-results">No hay registros disponibles.</td>
            </tr>
            <tr *ngFor="let product of filterProducts | slice:0:itemsPerPage">
            <td><img [src]="product.logo" alt="Logo" class="logo"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release }}</td>
            <td>{{ product.date_revision }}</td>
            <td>
              <div class="dropdown">
                <button class="dropdown-button" (click)="toggleDropdown(product.id)">
                  <p class="dots">...</p>
                </button>
                <ul class="dropdown-menu" *ngIf="selectedDropdown === product.id">
                  <li><a (click)="editProduct(product.id)">Editar</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <span>{{ filterProducts.length }} Resultados</span>
        <select [(ngModel)]="itemsPerPage" (change)="searchProducts()">
          <option *ngFor="let option of [5, 10, 20]" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
